body {
    background-color: black;
    color: gray;
}

header, main, nav, footer, #content {
    text-align: center;
}

/* HEADER STYLES */


/* LINK STYLES */
nav a, #home_link {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover, #home_link:hover {
    border-bottom: 2px orange solid;
    color: orange;
    transition: .5s;
}

.current_page {
    color: yellow;
    font-size: 2em;
    text-decoration: underline;
}
