header, main, nav, footer, #content {
    text-align: center;
}

/* BODY STYLES */
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

#osi_body {
    background-color: rgb(40, 40, 0);
}

#llm_body {
    background-color: rgb(0, 40, 0);
}

#sql_body {
    background-color: rgb(0, 0, 40);
}

#virus_body {
    background-color: rgb(40, 0, 0);
}

/* MAIN STYLES */
main {
    display:flex;
    justify-content: center;
}

/* DIV STYLES */
.preview {
    width: 500px;
    height: 500px;
    margin: 10px 5px;
    padding: 10px;
}

#osi_preview {
    background-color: rgb(80, 80, 0);
}

#llm_preview {
    background-color: rgb(0, 80, 0);
}

#sql_preview {
    background-color: rgb(0, 0, 80);
}

#virus_preview {
    background-color: rgb(80, 0, 0);
}

/* HR STYLES */

hr {
    margin-top: 0;
}

/* HEADER STYLES */
header {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#home_header {
    position: relative;
}

/* HEADING STYLES */

h1 {
    font-size: 2.5em;
    width: 87%;
    margin: 0;
}

#home_heading {
    width: auto;
}

#osi_header {
    background-color: rgb(80, 80, 0);
}

#llm_header {
    background-color: rgb(0, 80, 0);
}

#sql_header {
    background-color: rgb(0, 0, 80);
}

#virus_header {
    background-color: rgb(80, 0, 0);
}

.header_link {
    color: white;
    text-decoration: none;
}

/* LINK STYLES */
nav a, header a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover, .header_link:hover, header a:hover {
    border-bottom: 2px orange solid;
    color: orange;
    transition: .5s;
}

.current_page {
    color: yellow;
    font-size: 2em;
    text-decoration: underline;
}

header a{
    padding: 0;
    width: 13%;
    float: left;
    font-size: 2.5em;
}