body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), 
    url(../img/flag-colors.jpg);
}

h1, main, footer {
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
}

h1 {
    background-color: #8fa0ce;
}

/* QUESTION STYLES */
.question {
    padding: 10px;
    margin: 10px;
}

.answer_feedback {
    display: flex;
}

.answer {
    margin: auto;
    margin-right: 10px;
}

.feedback {
    margin: auto;
    margin-left: 10px;
}

.multiple_choice {
    text-align: left;
}