body {
    background-color: black;
    color: gray;
}

header, main, nav, footer {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    color: white;
    font-size: 0.8em;
}

.active {
    color: yellow;
    font-size: 2em;
    text-decoration: underline;
}