/* BODY STYLES */
body {
    background-color: gray;
    text-align: center;
    font-size: 1.5em;
}

/* BUTTON STYLES */
#buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#guessBtn, #resetBtn {
    border: 1px black solid;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 25px;
    height: 50px;
    width: 120px;
}

#guessBtn:hover {
    box-shadow: 0 0 8px 8px rgba(0, 140, 186, 0.5);
}

#resetBtn:hover {
    box-shadow: 0 0 8px 8px rgba(150, 100, 0.5);
}

#guessBtn {
    background-color: lightblue;
}

#resetBtn {
    background-color: orange;
}

/* DIV STYLES */
#main {
    border: 1px black solid;
}

#wins_losses_div, #attempts_guesses_div {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100px;
    margin: auto;
}

/* INPUT STYLES */
input {
    margin-top: 5px;
    font-size: 1.2em;
}

/* SPAN STYLES */
#wins_span, #losses_span, #guesses_div, #attempts {
    padding: 10px;
    border: 1px black solid;
    width: 50%;
    height: 50%;
    margin: auto;
}

/* ATTEMPTS, GUESSES STYLES */
#guesses_div {
    margin-left: 5px;
}

#attempts {
    margin-right: 5px;
    line-height: 50px;
}

/* WINS, LOSSES STYLES */
#losses_span {
    background-color: darkred;
    line-height: 50px;
}

#wins_span {
    background-color: darkgreen;
    line-height: 50px;
}

/* OTHER STYLES */
#feedback {
    border: 1px black solid;
    width: 400px;
    height: 50px;
    margin: auto;
    line-height: 50px;
}





