/* BODY STYLES */
body {
    background-color: gray;
    text-align: center;
}

/* BUTTON STYLES */
#buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#guessBtn, #resetBtn {
    border: 1px black solid;
    margin: 10px;
    border-radius: 10px;
}

/* DIV STYLES */
#main {
    border: 1px black solid;
}

#wins_losses_div, #attempts_guesses_div {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 60px;
    margin: auto;
}

#feedback {
    border: 1px black solid;
    width: 300px;
    height: 50px;
    margin: auto;
    line-height: 50px;
}

/* SPAN STYLES */
#wins_span, #losses_span, #guesses_div, #attempts {
    padding: 10px;
    border: 1px black solid;
    width: 50%;
    height: 50%;
    margin: auto;
}

#losses_span {
    background-color: darkred;
}

#wins_span {
    background-color: darkgreen;
}