body {
    background-color: lightgreen;
    width: 1000px;
    margin: auto;
}

h1, form, footer {
    margin: 0 auto;
    padding: 10px;
}

form {
    text-align: left;
    width: 50%;
}

/* SIGNUP PAGE STYLES */

#submit {
    margin-left: 40%;
}

/* WELCOME PAGE STYLES */

#welcome {
    height: 150px;
}

#welcomeText {
    padding-top: 30px;
}

#backButton {
    margin-left: 40%;
}