body {
    background-image: url('../img/starters.jpg');
    text-align: center;
    width: 1000px;
    margin: auto;
}

main, footer {
    background-color: white;
    
}

main {
    padding-bottom: 10px;
}

hr {
    margin-top: 0;
}

/* HEADER STYLES */
h1 {
    background-color: yellow;
    margin: 0 auto;
    padding: 10px;
}

h3 {
    margin-bottom: 0;
}

/* QUERY STYLES */
#query {
    background-color: white;
    padding: 10px;
    margin-bottom: 0;
}

/* DEX STYLES */

#dexBackground {
    background-color: lightgreen;
    padding: 5px;
    margin: 0 50px;
    display: none;
}

#dex {
    background-color: white;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    display: none;
}

#dexNumber {
    color: gray;
}

.genDiv {
    background-color: blue;
    display: flex;
}

/* STATS TABLE STYLES */

#dexStats {
    margin: auto;
}

#statTable {
    text-align: left;
    margin: auto;
}

td {
    border: black 1px solid;
    width: auto;
}

.statBar {
    width: 255px;
}

.rect {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 0;
}

#stat0Bar {
    background-color: #f00;
    color: #f00;
}

#stat1Bar {
    background-color: #ff9900;
    color: #ff9900;
}

#stat2Bar {
    background-color: #cccc00;
    color: #cccc00;
}

#stat3Bar {
    background-color: #00ff00;
    color: #00ff00;
}

#stat4Bar {
    background-color: #0000ff;
    color: #0000ff;
}

#stat5Bar {
    background-color: #ff00ff;
    color: #ff00ff;
}

.stat0 {
    background-color: #ff8080;
}

.stat1 {
    background-color: #ffcc80;
}

.stat2 {
    background-color: #ffff80;
}

.stat3 {
    background-color: #80ff80;
}

.stat4 {
    background-color: #8080ff;
}

.stat5 {
    background-color: #ff80ff;
}

/* TYPE TEXT STYLES */
#dexType {
    margin: 10px;
}

.typeSpan {
    margin: auto 5px;
    padding: 5px;
}

.bug {
    background-color: #91a119;
}

.dark {
    background-color: #50413f;
}

.dragon {
    background-color: #5060e1;
}

.electric {
    background-color: #fac000;
}

.fairy {
    background-color: #ef70ef;
}

.fighting {
    background-color: #ff8000;
}

.fire {
    background-color: #e62829;
}

.flying {
    background-color: #81b9ef;
}

.ghost {
    background-color: #704170;
}

.grass {
    background-color: #3fa129;
}

.ground {
    background-color: #915121;
}

.ice {
    background-color: #3fd8ff;
}

.normal {
    background-color: #9fa19f;
}

.poison {
    background-color: #9141cb;
}

.psychic {
    background-color: #ef4179;
}

.rock {
    background-color: #afa981;
}

.steel {
    background-color: #60a1b8;
}

.stellar {
    background-color: gray;
}

.water {
    background-color: #2980ef;
}